.kalkulus button + button {
    margin-left: 10px;
}

#history-list {
    list-style: none;
    padding: 0;
    color: white;
}

    #history-list li {
        background-color: #333;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 8px;
        font-size: 14px;
    }
